@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Santio;
    src: url(../fonts/Santio-Bold.ttf);
}
@font-face {
    font-family: MrDafoe;
    src: url(../fonts/MrDafoe-Regular.ttf);
}

/* ==================== General styling */
* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
    font-family: Santio;
    text-align: left;
    color: #fff;
    letter-spacing: 1px;
}
span {
    background-color: #333;
    color: #efefef;
}
a {
    text-decoration: none;
}
.darken {
    width: 100%; height: 100%; background-color: #00000099;
}

/* ==================== Top section */
section:first-of-type {
    background: url(../img/cleo-topper.jpg) no-repeat fixed center/cover;
}
/* --------------- Top right CTA */
section:first-of-type aside {
    font-family: Roboto;
    font-weight: bold;
    text-align: right;
    padding: 10px 7% 0 0;
}
section:first-of-type aside img {
    display: inline-block;
    height: 20px;
    padding-right: 14px;
}
section:first-of-type aside p {
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 2px solid #e7bc0e;
}
section:first-of-type aside a {
    color: #fff;
}
/* --------------- First paragraph & Scroll down link */
section:first-of-type > div > h1 {
    padding: 10% 0 50px 7%;
    font-size: 3em;
    width: 20%;
}
section:first-of-type div > a {
    display: inline-block;
    font-family: MrDafoe;
    font-size: 2em;
    color: #e7bc0e;
    letter-spacing: -1px;
    padding-left: 7%;
    padding-right: 20px;
}
#rotated {
    display: inline-block;
    transform: rotate(-90deg);
    padding-left: 0;
    padding-right: 0;
}
/* --------------- Second paragraph */
section:first-of-type div > p {
    padding: 350px 35% 450px 14%;
    font-size: 2em;
    color: #6bc1a3;
}
/* --------------- Facts */
.facts {
    padding: 0 0 250px 10%;
}
.facts img {
    width: 10%;
    padding-bottom: 80px;
}
.facts h1 {
    font-size: 5em;
}
.facts p {
    font-size: 2em;
}
.fact1 {
    color: #e7bc0e;
    
}
.fact2 {
    color: #cb91b6;
}
.fact3 {
    color: #6bc1a3;
}
#facts_p {
    width: 50%;
    padding: 0 7% 100px 40%;
    font-size: 1.5em;
    color: #7eb8e1;
}

/* ==================== Bottom section */
section:last-of-type > div:first-of-type {
    height: 140vh;
    background: url(../img/kid.png) no-repeat center/cover, url(../img/see.png) no-repeat center/cover;
}
section:last-of-type > div:last-of-type {
    background-color: #000;
}
section:last-of-type article {
    font-size: 4em;
    width: 35%;
    padding: 300px 0 50px 14%;
}
/* --------------- Link button */
section:last-of-type a {
    display: inline-block;
    margin-left: 14%;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 2px;
    font-family: Roboto;
    font-weight: bold;
    color: #fff;
}
section:last-of-type a:hover {
    box-shadow: 3px 3px #fff;
}
footer {
    font-family: Roboto;
    font-size: 0.6em;
    font-weight: normal;
    text-align: center;
    background-color: #000;
    padding: 200px 0 10px 0;
}
footer a {
    color: #7eb8e1
}
footer a:hover {
    text-decoration: underline;
}